
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            {% include section-heading.html heading="About" subheading="description"%}
            <div class="col-md-12">
                <p>Cheetah is an open source and free Download Manager.
                    Supports GNU/Linux Distributions, BSDs, macOS and Microsoft Windows operating systems.
                    It has recovery and resume capabilities to restore the interrupted downloads.
                    You can join Cheetah contributers &amp; Help us with developing it.</p>
                <p> Notable Features:</p>
                <ul>
                    <li><p>Http, Https Support for now</p></li>
                    <li><p>Divides downloads into multiple streams for faster downloading</p></li>
                    <li><p>Create many connection for download default 8 connection</p></li>
                    <li><p>Redownload ability &amp; Rejoin ability</p></li>
                    <li><p>Themes</p></li>
                </ul>

            </div>
        </div>
    </div>
</section>
