<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="{{ site.baseurl }}/assets/images/{{ site.logo }}" class="header-logo"/></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#second">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header id="fullWidthHeader">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Download Manager</div>
            <div class="intro-heading">Cheetah</div>
        </div>
    </div>
</header>